<%= bootstrap_form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if (current_user.admin? || current_user.superadmin?) && @ticket.persisted?%>
    <p><strong>From:</strong><%= @ticket.user %></p>

    <p><%= @ticket.text %></p>

    <%# if current_user.superadmin? %>
      <div class="row">
        <%= form.select :category, Feedback::Ticket.categories.keys.to_a, wrapper_class: "col-md-6"  %>
        <%= form.select :priority, Feedback::Ticket.priorities.keys.to_a, wrapper_class: "col-md-6"  %>
      </div>

      <div class="row">
        <%= form.select :impact, 1..10, wrapper_class: "col-4" %>
        <%= form.select :confidence, 1..10, wrapper_class: "col-4" %>
        <%= form.select :ease, 1..10, wrapper_class: "col-4" %>
      </div>

      <%= form.select :status, Feedback::Ticket.statuses.keys.to_a, {}, { data: { target: "feedback.status", action: "change->feedback#changeStatus" } } %>

      <%= form.collection_select :owner_id, User.where(system_role: 'superadmin'), :id, :email, { include_blank: true, label: 'Owner' } %>
    <%# end %>
  <% else %>
    <div class="field">
      <%= form.rich_text_area :text, label: 'Feedback' %>
      <%= form.file_field :attachments, multiple: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
