<%= link_to feedback.ticket_path(ticket), style: "text-decoration: none;", class: "list-group-item list-group-item-action flex-column align-items-start" do %>
  <div class="row pl-3 pr-3">
    <div class="col-12">
      <div class="row">
        <h6><%= strip_tags(ticket.text.to_s).truncate(100) %></h6>
      </div>
      <div class="row">
        <p class="text-muted">
          <%= time_ago_in_words(ticket.created_at) %> ago :
          <%= ticket.comments.count %> comments. Currently: <%= ticket.status.humanize %>
        </p>
      </div>
    </div>
  </div>
<% end %>