<div class="container tester">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Feedback</h1>

      <%= link_to 'New Ticket', new_ticket_path, class: "btn btn-primary" %>
      <hr class="my-4">
      <div class="row">
<!--        <div class="col-2 border-right">-->
<!--          <h5>Filters</h5>-->
<!--        </div>-->
        <div class="col-12">
          <div class="row ml-1">
            <!--        TODO: Add Search Bar-->
            <h5>Tickets</h5>
          </div>
          <% @tickets.order("created_at DESC").each do |ticket| %>
            <%= link_to ticket_path(ticket), style: "text-decoration: none;" do %>
              <div class="row ticket-row ml-1">
                <div class="col-1">
                  <%= render partial: 'state', locals: {ticket: ticket} %>
                </div>
                <div class="col-11">
                  <div class="row">
                    <p class="text-muted mb-0"><%= ticket.user %></p>
                  </div>
                  <div class="row">
                    <h5>Feedback <%= ticket.id %>: <%= strip_tags(ticket.text.to_s).truncate(128) %></h5>
                  </div>
                  <div class="row">
                    <p class="text-muted">
                      <%= time_ago_in_words(ticket.created_at) %> ago :
                      <%= ticket.comments.count %> comments.
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
            <hr class="my-4">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>