<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @ticket.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @ticket.user %></h6>
      <div class="row" style="margin: 10px 0 20px 0;">
        <% @ticket.attributes.each do |key, value| %>
          <% if ["statue", "category", "priority", "impact", "confidence", "ease"].include?(key) %>
            <button type="button" class="btn btn-primary" style="margin-left: 15px">
              <%= key %> <span class="badge badge-light"><%= value %></span>
            </button>
          <% end %>
        <% end %>
      </div>
      <h6>Feedback:</h6>
      <p class="card-text"><%= @ticket.text %></p>
      <%= render @ticket.comments.order(:created_at) %>
      <%= render partial: 'feedback/comments/form', ticket: @ticket %>
    </div>
  </div>
  <%= link_to 'Back', tickets_path, class: "btn btn-light" %>
</div>

