<hr class="my-4">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">New Comment</h5>
        <h6 class="card-subtitle"><%= current_user %></h6>
      </div>
      <div class="card-body">
        <%= bootstrap_form_with(model: [@ticket, @ticket.comments.build], remote: true) do |form| %>
          <p>
            <%= form.rich_text_area :text %>
          </p>
          <%= form.file_field :attachments, multiple: true %>
          <%= form.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>